#avatar {
    max-width: 35%;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%,50%);
    left: 50%;
}

#logo {
    width: 10%;
}

footer {
    padding: 15px;
    text-align: center;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

#footer-box-item2 {
    text-align: center;
}

footer section {
    width: 33%;
}

a {
    text-decoration: none;
}

a:hover {
    transition: 1s;
}
a:hover li {
    transition: 1s;
    transform: scale(1.3);
}

body {
    margin: auto;
    background-color: whitesmoke;
    max-width: 1100px;
    box-shadow: 12px 0 15px -4px rgba(13, 19, 26, 0.5), -12px 0 15px -4px rgba(13, 19, 26, 0.5);
    font-family: "Alegreya Sans";
}

#container {
    min-height: 100vh;
    display: flex;
}

.left {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.left-top {
    background-color: #cccccc;
}

.left-bottom {
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    border-style: solid;
    border-bottom: 4px;
    border-left: 4px;
    background: linear-gradient(to top right, #585858, 75%, #cccccc);
}

.left-bottom div {
    width: 100%;
    margin: 80px 0px;
}

.right {
    width: 65vw;
    background-color: #cccccc;
}

h1, h2 {
    text-align: center;
}

h3, h4 {
    text-align: left;
    margin: 20px;
}

ul.education {
    list-style-type: none;
}

ul.education li p {
    text-align: start;
    margin: 20px 85px;
}

p {
    text-align: left;
    font-size: 18px;
}

#about-me {
    text-align: justify;
    margin: 20px 60px;
}

.box1 {
    margin: 80px 0px 0px 0px;
}

ul.icons-sum {
    list-style-type: none;
    padding: 0px;
    margin: 10px 0px;
    display: block;
    text-align: center;
}

.icons {
    color: black;
}

html {
    scroll-behavior: smooth;
}

li {
    margin: 20px 20px;
    font-size: 18px;
}

li.contact-information {
    display: inline;
    margin: 10px 10px;
}

#contacts {
    text-align: center;
}

#location {
    color: black;
    text-align: center;
    font-size: 18px;
}

ul.skills-languages {
    list-style-type: square;
}

ul.skills-languages li {
    text-align: start;
}

.code {
    margin: 20px 120px;
    font-size: 18px;
    text-align: start;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
    font-size: 20px;
    transition-duration: 0.3;
}

nav {
    display: flex;
    justify-content: end;

}

.navbar {
    display: flex;
    list-style-type: none;
    text-align: start;
    margin: 20px;
    padding: 0px;
}

.navbar-item {
    display: inline;
}

.navbar-item a{
    color: black;
}

.header {
    height: 50px; 
}

.burger {
    display: none;
}
  
@media (min-width: 0px) and (max-width: 720px) {
    #container {
        flex-wrap: wrap;
        min-height: 100vh;
        max-width: 400px;
        display: flex;
    }

    body {
        max-width: 320px;
    }

    h2 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        text-decoration: none;
        transition: none;
    }
    a:hover li {
        text-decoration: none;
        transition: none;
        transform: none;
    }

    
    .menu a:hover {
        background-color: #cccccc;
        color: black;
        font-size: 14px;
        transition-duration: 0;
    }

    li.navbar-item {
        display: none;
        margin: 10px 15px 10px 15px;
        font-size: 14px;
    }

    .left {
        flex-basis: 320px;
    }

    .left-bottom {
        border-left: 0px;
        border-right: 0px;
    }

    .right {
        width: 320px;
    }

    .menu {
        display: inline;
    }

    .burger {
        background-color: #cccccc;
        display: block;
        padding: 10px 0px 0px 10px;
    }

    .navbar {

        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        background-color: #cccccc;
    }

    .code {
        margin: 0px;
    }

    ul.education li p {
        text-align: start;
        margin: 0px 5px;
    }

    .footer-box-item ul.icons-sum {
        list-style-type: none;
        padding: 0px;
        margin: 0px 0px;
        font-size: 5px;
        display: block;
        text-align: center;
    }

    .footer-box {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .footer-box-item {
        width: auto;
    }

    footer section {
        width: 50%;
    }

    .footer-box > section:nth-of-type(1) { 
        display: none;
    }

    .footer-box-item ul.icons-sum {
        list-style-type: none;
        padding: 0px;
        display: block;
        text-align: center;
    }
}